<header
  class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom"
>
  <a href="/" class="text-dark text-decoration-none"> Tax Calculator </a>
</header>
<section class="d-flex justify-content-center align-items-center">
  <form
    class="row align-items-center"
    style="width: 90%"
    #f="ngForm"
    (submit)="onSubmit()"
  >
    <div class="col-3">
      <label for="income">Yearly Income</label>
    </div>
    <div class="col-5">
      <input
        type="number"
        inputmode="numeric"
        class="form-control"
        id="income"
        placeholder="Ex. 500000"
        name="income"
        [(ngModel)]="income"
      />
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
  </form>
</section>
<section class="d-flex justify-content-center mt-5">
  <app-tax-regime-table style="width: 90%" [taxRegime]="taxRegime"></app-tax-regime-table>
</section>
